.wrapper
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          チームM
        .main-header__left-box__member-list
          みつる、ジュンペー
      .main-header__edit-btn
        Edit
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
            みつる
          .message__upper-info__data
            2019/10/23(Wed) 20:48:55
        .message__text
          階段登りたい
      .message
        .message__upper-info
          .message__upper-info__talker
            ジュンペー
          .message__upper-info__data
            2019/10/23(Wed) 20:50:55
        .message__text
          どうぞ！
          
    .form
      .new-message
        .input-box
          %input{:name => "email", :placeholder => "type a message", :class => "chat"}
          .input-box__image
            %i.fa.fa-image
        %input{:type => "submit", :value => "Send", :class => "submit-btn"}


  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
          tuchi
        .side-header__box__menu
          .side-header__box__menu__new-group
          = link_to "https://master.tech-camp.in/curriculums/1154" do
            %i.fa.fa-edit
          .side-header__box__menu__edit-user
          = link_to "https://master.tech-camp.in/curriculums/1154" do
            %i.fa.fa-cog
    .groups
      .group
        .group__group-name
          チームM
        .group__latest-message
          どうぞ！
