.chat-side{
  width: 300px;
  float: left;
  color: white;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__user-name{
        font-weight: bold;
      }
      &__menu{
        display: flex;
        color: #000000;
          a{
            color: white;
          }
      }
    }
  }
  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px;
    font-weight: bold;
    box-sizing: border-box;
    .group{
      margin-bottom: 40px;
      color: #ffffff;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message{
        font-size: 15px;
      }
    }
  }
}
